.profileInfo {
    margin-top: 30px;
    display: flex;
}

.avatar > input {
    display: none;
}

.avatar img {
    width: 160px;
    border-radius: 50%;
    cursor: pointer;
}

.description {
    margin-left: 50px;
    width: 400px;
}

.fullName {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.contant_container {
    margin-top: 15px;
}

.contacts_icon {
}

.contacts_icon img {
    width: 30px;
}

.statusBlock {
    display: flex;
    margin-bottom: 20px;
    transition: background-color .2s;
}

.statusBlock:hover {
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
}

.formControl.error input,
.formControl.error textarea {
    border: 2px red solid;
}

.formControl.error span {
    color: red;
}

.formSummeryError {
    border: 2px red solid;
    padding: 5px;
    color: red;
}